body {
    background-color: #FAFAFA;
    font-family: "Roboto", "sans-serif";
}


h1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}
h2 {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
h3 {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #139EF2;
}
h4 {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #262626;
}
h5 {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #8E8E8E;
}
h6, .options-configs h6 a {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #C7C7C7;
}
strong {
    font-weight: 500;
}
h1:hover, h2 strong:hover {
    filter: brightness(180%);
}
h1:active, h2 strong:active {
    text-decoration: underline;
}
h3:hover {
    text-decoration: underline;
}


/* Cabeçalho da página */


header, header div {
    display: flex;
    align-items: center;
}
.main-header, .instagram-logos, .header-options, .mobile-header {
    justify-content: space-between;
}
header {
    width: 100%;
    height: 54px;
    background-color: white;
    border-bottom: 1px solid #DBDBDB;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 4;
}
.main-header {
    width: 935px;
}
header ion-icon {
    color: black;
    font-size: 22px;
}
.header-options a ion-icon:last-child, .mobile-header a:nth-child(3) ion-icon:last-child {
    display: none;
}
a ion-icon:hover, ion-icon:hover {
    color: #525252;
}
.header-options a:active ion-icon:first-child, mobile-header a:nth-child(3):active ion-icon:first-child {
    display: none;
}
.header-options a:active ion-icon:last-child, mobile-header a:nth-child(3):active ion-icon:last-child {
    display: flex;
    color: #000000;
}
.instagram-logos {
    width: 146px;
}
.linha-vertical{
    height: 22px;
    border-right: 1px solid #DBDBDB;
}
header img {
    width: 103px;
}
.search input {
    width: 215px;
    height: 28px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    text-align: center;
}
.search input::placeholder {
    color: #979797;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
.header-options {
    width: 163px;
}
header .mobile-header {
    display: none;
}


main {
    margin-top: 88px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.stories-posts {
    width: 614px;
    margin-right: 321px;
    z-index: 0;
}



/* stories */



.stories {
    width: 100%;
    height: 118px;
    background-color: #FFFFFF;
    padding-left: 12px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}
.stories div {
    margin-right: 2px;
}
.story {
    width: 66px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.story img:first-child {
    margin-left: 12px;
    width: 100%;
    height: 100%;
}
.story img:last-child {
    margin-left: 12px;
    width: 56px;
    height: 56px;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.stories h4 {
    width: 78px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 5px auto 0 auto;
}
.stories ion-icon {
    color: #FFFFFF;
    font-size: 26px;
    line-height: 0;
    border-radius: 50%;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    position: absolute;
    right: 8px;
    z-index: 2;
}
.stories ion-icon:hover {
    color: #f3f3f3;
    transition: all 0.3s ease-in-out;
}


/* posts */



.posts {
    width: 100%;
    
}
.post {
    width: 100%;
    height: 749px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-bottom: 60px;
    box-sizing: border-box;
}
.post-header {
    height: 60px;
    margin: auto 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-header div {
    display: flex;
    align-items: center;
}
.post-header img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 15px;
}
.post-header ion-icon {
    font-size: 16px;
    color: #262626;
}
.post-media {
    display: flex;
    align-items: center;
    justify-content: center;
}
.post-media img{
    width: 612px;
    height: 612px;
}
.post-media img:hover {
    transition: all 0.65s ease-in-out;
    filter: brightness(90%);
    box-shadow: 2px 2px 5px DBDBDB;
}
.post-footer {
    height: 76px;
    margin: 0 17px;
}
.post-first-line {
    height: 31px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post-first-line div {
    width: 98px;
    display: flex;
    justify-content: space-between;
}
.post-first-line ion-icon {
    color: black;
    font-size: 22px;
}
.post-first-line div a ion-icon:last-child {
    display: none;
}
.post-first-line a:active ion-icon:first-child {
    display: none;
}
.post-first-line a:active ion-icon:last-child {
    display: flex;
}
.post-first-line a:active .normal {
    color: #000000;
}
.post-first-line a:active .like {
    color: red;
}
.post-second-line {
    height: 31px;
    margin-bottom: 9px;
    display: flex;
    align-items: center;
}
.post-second-line img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.post-second-line strong {
    color: #000000;
}

/* sidebar */



aside {
    width: 293px;
    margin-left: 642px;
    position: fixed;
    right: (100vw - 935px)/2;
    top: 88px;
    z-index: 3;
}
.my-profile {
    height: 103px;
    display: flex;
    align-items: center;
}
.my-profile img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-right: 17px;
}
.my-profile div p:last-child {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #8E8E8E;
}
.my-profile p {
    margin-bottom: 1px;
}
.suggestions {
    width: 100%;
    margin-bottom: 33px;
}
.suggestions-title {
    height: 15px;
    margin-bottom: 17px;
    display: flex;
    justify-content: space-between;
}
.suggestions-title h4, .suggestions-title h5 {
    font-weight: 500;
}
li {
    height: 35px;
    margin-bottom: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-suggestion h1 {
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.profile-suggestion {
    height: 100%;
    display: flex;
    align-items: center;
}
.profile-suggestion > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.profile-suggestion img {
    width: 32px;
    height: 100%;
    border-radius: 50%;
    margin-top: 6px;
    margin-right: 11px;
}
.options-configs h6 {
    display: flex;
}
.options-configs h6 a:hover {
    text-decoration: underline;
}
.options-configs p {
    margin-bottom: 18px;
    display: flex;
    flex-wrap: wrap;
}
footer {
    display: none;
}

@media (max-width: 934px) {
    header, .main-header {
        width: 100%;
    }
    .main-header {
        margin: auto 20px;
    }
    .stories-posts {
        margin-right: 0;
    }
    main aside {
        display: none;
    }
    
}
@media (max-width: 614px) {
    body {
        width: 100%;
    }
    header .main-header, .header-options {
        display: none;
    }
    header .mobile-header {
        display: flex;
    }
    .mobile-header {
        width: 100%;
        margin: auto 20px;
        justify-content: space-between;
    }
    main {
        margin-top: 54px;
        margin-bottom: 54px;
    }
    .stories-posts {
        width: 100%;
    }
    .stories {
        background-color: #FAFAFA;
        margin-bottom: 0;
        border: none;
        border-radius: 0;
    }
    .stories ion-icon {
        display: none;
    }
    .post {
        height: 100%;
        border-right: none;
        border-left: none;
        border-radius: 0;
    }
    .post-media img{
        width: 100%;
        height: 100%;
    }
    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        width: 100%;
        height: 54px;
        box-sizing: border-box;
        background-color: #FFFFFF;
        border-top: 1px solid #DBDBDB;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 4;
    }
    footer a {
        font-size: 22px;
        color: #000000;
    }
    footer a ion-icon:last-child {
        display: none;
    }
    footer a:active ion-icon:first-child {
        display: none;
    }
    footer a:active ion-icon:last-child {
        display: flex;
        color: #000000;
    }
}